* {
    // font-family: 'Montserrat', 'Times New Roman' sans-serif;
    font-family: sans-serif;
    font-weight: 400;
}

html,
body {
    height: 100%;
}

#root {
    width: 100%;
}
#wrapper_body {
    min-height: 100vh;

    margin: 0 auto;
}

// .container {
//     text-align: center;
// }
