@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
* {
  font-family: "Nunito", sans-serif;
}

html,
body {
  height: 100%;
}

#root {
  width: 100%;
}

#wrapper_body {
  min-height: 100vh;
  margin: 0 auto;
}

h1.title {
  font-size: 1.8rem;
  font-weight: bold;
}

.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  width: 350px;
  height: 100px;
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px;
  position: relative;
}

.modalContainer .title-modal {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}

.modalContainer .title-modal h4 {
  font-size: 25px;
}

.titleCloseBtn {
  position: absolute;
  top: -15px;
  right: -15px;
}

.titleCloseBtn .wrapperBtn {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: crimson;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
  color: white;
}

#create-div {
  box-sizing: border-box;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 2rem;
}

#create-employee {
  border-radius: 5px;
  background: #181a4d;
  padding: 20px;
}
#create-employee .title {
  color: #fff;
  font-size: 1.5rem;
}
#create-employee label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 10px;
  color: #fff;
}
#create-employee #state {
  color: black;
}
#create-employee button {
  font-size: 1.3rem;
  color: #fff;
  margin-top: 15px;
  border: unset;
  min-width: 150px;
  height: 40px;
  border-radius: 5px;
  background-color: rgba(153, 154, 165, 0.6) !important;
  cursor: pointer;
}
#create-employee button:hover {
  background-color: #178f4d !important;
}

.input-wrapper input {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  box-sizing: border-box;
  border: unset;
}

.address {
  margin-top: 10px;
  border-radius: 5px;
  color: #fff;
}

#employee-div {
  max-width: 80%;
  margin: 0 auto;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
  text-align: center;
  border-radius: 5px !important;
}

.previous,
.next {
  border-radius: 3px;
  cursor: pointer;
}

table th {
  font-weight: bold;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background: rgba(24, 26, 77, 0.4);
}

table th,
tfoot td {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #181a4d;
  color: white;
}

.employee-title {
  text-align: center;
  font-weight: bold;
}

.header-table {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.table-footer {
  margin-top: 25px;
  margin-bottom: 25px;
}
.table-footer .top-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.table-footer .right-side {
  display: flex;
  gap: 10px;
}

.home {
  text-align: center;
}

.page-counter {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
}
.page-counter .active {
  background: linear-gradient(to bottom, #fff 0%, #181a4d 100%);
}
.page-counter .numbOfPage {
  border: 1px solid #181a4d;
  border-radius: 2px;
  min-height: 25px;
  min-width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.page-counter .numbOfPage:hover {
  background: rgba(24, 26, 77, 0.3);
}

/*# sourceMappingURL=index.css.map */
